html {
  background-color: rgb(150, 219, 252);
}

body {
  padding: 50px;
  font-size: 14px;
  width: 50%;
  margin: 0 auto;
  color: black;
}

nav {
  display: flex;
}

nav * {
  margin: 10px 0;
  font-size: 20px;
  font-family: fantasy;
}

ul {
  list-style: none;
  margin: none;
  padding: 0;
}

nav *:hover {
  transition: 0.3s ease-in-out all;
  color: white;
}

a,
a:focus,
a:active {
  text-decoration: none;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 3px;
}

form * {
  padding: 5px;
  background-color: none;
  font-size: 18px;
}

input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea {
  border: none;
  outline: none;
  resize: none;
  height: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  border: none;
  font-family: fantasy;
  transition: 0.5s ease-in-out all;
}

button:hover {
  cursor: pointer;
  background-color: rgb(106, 180, 214);

  color: white;
}

.messageBoardDisplay {
}

.renderedMessage {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 5px;
}

h1 {
  text-align: center;
}

.userName {
  font-size: 20px;
  padding: 5px 0;
  font-style: italic;
}

.messageTitle {
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
  text-transform: capitalize;
}

.messageText {
  font-size: 18px;
}
